@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e994018e;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
  --green: #14532d;
}

.app {
  background-color: #477660e0;
}

.sidebar {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  height: "100vh";
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.menu {
  text-align: left;
}
.menuitem {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  height: 90px;
  margin-top: 40px;
}
.menuitem :first-of-type {
  height: 70px;
  margin-top: 0px;
}
.menuitem :hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}
.icon {
  font-size: 2rem;
}

.icon-size {
  font-size: 2rem;
}

.slidebar-metamask {
  margin-left: 30%;
  width: 20px;
  height: 20px;
}
.slidebar-metamask-close {
  margin-left: 10%;
  width: 20px;
  height: 20px;
}

a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
  transition-property: background-color;
  transition-duration: 300ms;
  
}
a:hover,
.activeHome {
  color: var(--white);
}

a:hover,
.active {
  color: var(--green);
}

.call {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 0.1rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 500px;
  max-height: 8rem;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  color: #FFF;
  border-color: #262626;
  font-weight: 700;
  transition-property: #14532d;
  transition-duration: .3s;
  margin-bottom: 5px;

}
.call:hover {
  background-color: var(--primary);
  cursor: pointer;
}
.content {
  padding: 0.9rem;
}
.content h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.callNumber {
  max-width: 58rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: clip;
  font-size: 1rem;
  color: white;
}

.selectBar {
  background-color: var(--black);
  text-align: center;
  border-radius: 20px;
  padding: 2px;
  color: #FFF;
  font-weight: 600;
}

.sk-chase {
  width: 100px;
  height: 100px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 150%;
  height: 150%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 30%;
  height: 30%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}



.tanque {

  border: 4px solid black;
  position: relative;
  overflow: hidden;
}

.tanque-liquido {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: height 0.5s ease;
}